<div class="user-details">
  <h1> Sobre o que falamos?</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Matemática </h3>
    <ul>
      <li> Grande área</li>
    </ul>
    <p>Grande área: Matemática e ciências da terra, com ênfase em Álgebra e Estatística e Probabilidade. </p>
    <a class="math.com" href="#">confira</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/site.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Álgebra </h3>
    <ul>
      <li> Grupos simples</li>
    </ul>
    <p>Aqui falamos sobre álgebra, principalmente sobre a classificação de grupo simples!</p>
    <a class="math.com" href="jana">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="dowload" src="{{ "/assets/img/dowload.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Estatística e Probabilidade </h3>
    <ul>
      <li> Estatística e Probabilidade</li>
    </ul>
    <p>Aqui falamos sobre Estatística e Probabilidade, principalmente sobre a COVID-19. Buscamos entender como funcionam os modelos estatísticos na subnotificação de casos pelo modelo Hierárquico Poisson-Binomail.</p>
    <a class="math.com" href="jana">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="primos" src="{{ "/assets/img/primos.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Teoria dos Números </h3>
    <ul>
      <li> Primos gêmeos e a conjectura de Collatz </li>
    </ul>
    <p>
    A infinidade dos primos Gêmeros e a conjectura de Collatez são desafios matemáticos que deixam almas matemáticas a anos desinquietas em busca de respostas. Aqui falamos sobre sobre ambos assuntos e resultados já obtidos.</p>
    <a class="math.com" href="jana">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="grafos" src="{{ "/assets/img/grafos.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Teoria dos Grafos </h3>
    <ul>
      <li> Grafos de Linha</li>
    </ul>
    <p> Na fascinate Teoria de Grafos há inúmeros tipos de grafos, tais que mesmo sem perceber estão presente constantemente em nosso cotidiano, e um desses tipos, que é menos estudados, mas não menos importantes, são os Grafos de Linha.</p>
    <a class="math.com" href="jana">Check it out</a>
  </div>
</div>