<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Math </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Grande área: Matemática e ciências da terra, com ênfase em Álgebra e Estatística e Probabilidade. </p>
    <a class="math.com" href="#">confira</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/site.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Math </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Aqui falamos sobre álgebra, principalmente sobre a classificação de grupo simples!</p>
    <a class="math.com" href="jana">Check it out</a>
  </div>
</div>
<div class="contents">
    <h3> Math </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p> Também trabalhamos com Estatística e Probabilidade. Procuramos indícios de subnotificação da COVID-19.
    
    <p>
    <a class="math.com" href="#">confira</a>
     <img alt="mountains" src="{{ "/assets/img/dowload.jpg" | prepend: site.baseurl }}" />
  </div>
 </div>
 